<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand my-brand" href="/">SUW</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <li class="nav-item">
                        <a class="nav-link" href="/file">Wyklady</a>
                    </li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accept">Zatwierdzanie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stat ">Statystyki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history">Historia</a>
                    </li>
                {% endif %}
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <li class="nav-item">
                        <a class="nav-link" href="passwd">Zmiana hasla</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-lg-none" href="{{ path('fos_user_security_logout') }}">Log out</a>
                    </li>
                {% endif %}
                </ul>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a class="nav-log-in d-none d-lg-block text-light">{{ app.user.username }}</a>
                    <a class="nav-link d-none d-lg-block text-light" href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a class="nav-link d-none d-lg-block text-light" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}    
        </div>
    </div>
</nav>
