{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col border-bottom mt-4 mb-4">
            <label><h2>{{ 'passwd'|trans }}:</h2></label>
        </div>
    </div>

    {% for message in app.flashes('success_passwd') %}
        <div class="row">
            <div class="col">
                <div class="alert alert-success">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
    {% if form %}
        {{ form_start(form) }}
            <div class="row">
                <div class="form-group col-lg-12">
                    <label>{{ 'name.accept_index'|trans }}:</label>
                    <div>{{ form_widget(form.username, { 'attr': {'class': 'form-control'}}) }}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label>{{ 'newpasswd'|trans }}:</label>
                    <div>{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'}})}}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label>{{ 'correctpasswd'|trans }}:</label>
                    <div>{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'}})}}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <div>{{ form_row(form.save, {'attr':{'class':'btn btn-primary', 'value':'Prześlij'}}) }}</div>
                </div>
            </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}