{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4 mb-3">
        {% for message in app.flashes('success') %}
            <div class="col-lg-4">
                <div class="alert alert-success">
                    {{ message }}
                </div>
            </div>
        {% endfor %}

        {% if files %}
            <div class="col-lg-12 table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nazwa pliku</th>
                            <th scope="col">Typ pliku</th>
                            <th scope="col">Data dodania</th>
                            <th scope="col">Przedmiot</th>
                            {% if is_granted("ROLE_ADMIN") %}
                                <th scope="col">Usun</th>
                            {% endif %}
                            <th scope="col">Pobierz</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for ro in files %}
                            <tr>
                                <th scope="row">{{ ro.id }}</th>
                                <td>{{ ro.nameFile }}</td>
                                <td>{{ ro.extensionFile }}</td>
                                <td>{{ ro.createdAt }}</td>
                                <td>{{ ro.subjectName }}</td>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <td>
                                        <a href="/wyklady/delete/{{ ro.id }}" class="btn btn-danger" role="button">Remove</a>
                                    </td>
                                {% endif %}
                                <td>
                                    <a href="/wyklady/get/{{ ro.id }}" class="btn btn-info" role="button">Download</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if form %}
            {% if is_granted("ROLE_ADMIN") %}
                <div class="col-lg-12">
                    {{ form_start(form) }}
                        <div class="form-group">
                            <label>Nazwa pliku</label>
                            <div>{{ form_widget(form.namefile) }}</div>
                            {#<div class="form-text text-muted">Nazwa pliku.</div>#}
                        </div>
                        <div class="form-group">
                            <label>Nazwa przedmiotu</label>
                            <div>{{ form_widget(form.subjectname) }}</div>
                            {#<div class="form-text text-muted">Nazwa przedmiotu.</div>#}
                        </div>
                        <div class="form-group">
                            <label>Plik</label>
                            <div>{{ form_widget(form.brochure) }}</div>
                            {#<div class="form-text text-muted">Nazwa przedmiotu.</div>#}
                        </div>
                    {{ form_row(form.save) }}
                    {{ form_end(form) }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
